In [16]:
using DelimitedFiles
data = readdlm("ch6_1.csv",',')

4×6 Matrix{Any}:
     " "  " "             1400           …  2000            1400
     " "  " "                 "atlanta"         "columbus"      "boston"
 5000     "philadelphia"     2                 6               2
 3000     "neworleans"       1                 5               7

In [17]:
print(data)

Any[" " " " 1400 3200 2000 1400; " " " " "atlanta" "dallas" "columbus" "boston"; 5000 "philadelphia" 2 6 6 2; 3000 "neworleans" 1 2 5 7]

In [2]:
supply_nodes = data[3:end, 2]

2-element Vector{Any}:
 "philadelphia"
 "neworleans"

In [3]:
s = data[3:end, 1]

2-element Vector{Any}:
 5000
 3000

In [4]:
demand_nodes = data[2, 3:end]

4-element Vector{Any}:
 "atlanta"
 "dallas"
 "columbus"
 "boston"

In [5]:
d = data[1, 3:end]

4-element Vector{Any}:
 1400
 3200
 2000
 1400

In [6]:
c = data[3:end,3:end ]

2×4 Matrix{Any}:
 2  6  6  2
 1  2  5  7

In [9]:
s_dict= Dict(supply_nodes.=> s)
d_dict= Dict(demand_nodes.=> d)

Dict{SubString{String}, Int64} with 4 entries:
  "atlanta"  => 1400
  "boston"   => 1400
  "dallas"   => 3200
  "columbus" => 2000

In [10]:
c_dict = Dict(  (supply_nodes[i], demand_nodes[j] ) => c[i,j] for i in 1:length(supply_nodes), j in 1:length(demand_nodes)  )

Dict{Tuple{SubString{String}, SubString{String}}, Int64} with 8 entries:
  ("philadelphia", "dallas")   => 6
  ("philadelphia", "atlanta")  => 2
  ("neworleans", "columbus")   => 5
  ("neworleans", "dallas")     => 2
  ("neworleans", "boston")     => 7
  ("neworleans", "atlanta")    => 1
  ("philadelphia", "columbus") => 6
  ("philadelphia", "boston")   => 2

In [11]:
using JuMP, GLPK
tp = Model(GLPK.Optimizer)

@variable(tp, x[supply_nodes, demand_nodes] >= 0 )
@objective(tp, Min, sum(c_dict[i,j]*x[i,j] for i in supply_nodes, j in demand_nodes  )   )

for i in supply_nodes
    @constraint(tp, sum(x[i,j] for j in demand_nodes) == s_dict[i])
end
for j in demand_nodes
    @constraint(tp, sum(x[i,j] for i in supply_nodes) == d_dict[j])
end

In [12]:
print(tp)

In [14]:
JuMP.optimize!(tp)

x_star = JuMP.value.(x)

2-dimensional DenseAxisArray{Float64,2,...} with index sets:
    Dimension 1, Any["philadelphia", "neworleans"]
    Dimension 2, Any["atlanta", "dallas", "columbus", "boston"]
And data, a 2×4 Matrix{Float64}:
 1400.0   200.0  2000.0  1400.0
    0.0  3000.0     0.0     0.0

In [15]:
for s in supply_nodes, d in demand_nodes 
    println("from $s  to  $d:  " , x_star[s,d])
end

from philadelphia  to  atlanta:  1400.0
from philadelphia  to  dallas:  200.0
from philadelphia  to  columbus:  2000.0
from philadelphia  to  boston:  1400.0
from neworleans  to  atlanta:  0.0
from neworleans  to  dallas:  3000.0
from neworleans  to  columbus:  0.0
from neworleans  to  boston:  0.0